.box {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity (0.8) to your preference */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 6vh; 
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    color: #888;
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }